.upload-post-section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  margin-top: 50px;
  background-color: white;
  border-radius: 4px;
}

.profile-pic-upload-post,
.name-profile-pic {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: white;
}

.profile-pic-upload-post img {
  width: 30px;
  height: 30px;
}

.add-pic {
  width: 90%;
  height: 0%;
}

.add-pic-placeholder {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

.buttons-post {
  display: flex;
  gap: 30px;
  padding: 10px;
  justify-content: space-around;
  border-top: 1px solid #cfcfcf;
}

.pic-upload-post > input {
  display: none;
}

.upload-post-section textarea {
  border: 0;
  padding: 5px;
  height: 60px;
  outline: 0;
}

.pic-upload-post {
  height: 400px;
  width: 100%;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .upload-post-section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .upload-post-section {
    width: 30%;
  }
}
