.home-section {
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.home-post {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.name-delete {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  font-size: 22px;
  cursor: pointer;
}

.name-profile-pic p {
  font-weight: bold;
  font-size: 20px;
}

.home-post-pic {
  margin: 10px 0;
  width: 100%;
}

.home-post > .post-pic {
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .home-section {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .home-section {
    width: 40%;
  }
}
